<div class="form-box" id="login-box">
  <div class="header">Sucesso</div>
  <div class="body bg-gray">
    <p>Seu cadastro está quase pronto!</p>
    <p>Verifique seu e-mail para confirmar sua conta.</p>
  </div>
  <div class="footer">
    <%= render "devise/shared/links" %>
  </div>
</div>
