<h4>Ao criar sua conta:</h4>
<ul>
  <li>
    Seu usuário passa a ter o valor de 8 horas de tabalho por dia (Esse valor pode ser alterado indo para seu
    <%= link_to  'profile', edit_user_registration_path %>).
  </li>
  <li>Esse valor é utilizado para calcular seu saldo diário de acordo com seus horários de entrada e saída.</li>
</ul>
