<p>Fechar o quadro de horas significa, para o sistema, zerar a somatória do saldo e começar uma nova a partir da data do fechamento.</p>
<ul>
  <li>
    Ex: Você tem 20 horas extras e a empresa te pagou por elas:
  </li>
  <ul>
    <li>Você pode fechar o quadro na data específica;</li>
    <li>O novo quadro começa a partir de 0 horas e;</li>
    <li>O quadro fechado fica guardado com a informação que foi fechado com 20 horas extras.</li>
  </ul>
</ul>
