<p>Oi <%= @resource.email %>!</p>

<p>Você não lembra a senha né? Use o link abaixo para criar uma nova.</p>

<p><%= link_to 'Mudar a senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Mas se você lembra então não deve ter pedido pra trocar a senha. Portanto, ignore esse e-mail.</p>
<p>Sua senha vai continuar a mesma se você não acessar o link e modifica-la!</p>

<%= render 'footer' %>
